* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  /* height: 100vh; */
  background-image: url(https://img.freepik.com/foto-gratuito/priorita-bassa-della-tabella-e-della-struttura-di-legno_1627-4021.jpg?size=626&ext=jpg);
  /* padding:-10px; */
}
.big-container {
  width: 70%
  margin:auto;
}
.container-heading {
  width: 100%;
  height: 50vh;
  margin: 10px 10px;
  background-image: url(https://live.staticflickr.com/2882/10997161063_38ccbded87_b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white ;
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 4px black;
}
.title-1 {
  text-align: center;
  border-style: 10px groove white;
}
nav {
  background-color: grey;
  width: 100%;
  height: 10vh;
  margin-top: 0;
}
ul.menu {
  list-style: none;
  text-align: center;
  line-height: 60px;
}
ul.menu a {
text-decoration: none;
color: white;
font-size: 20px;
}
ul.menu li {
  display: inline-block;
  margin: 0 10px;
}
ul.menu li:hover {
  background-color: lightgrey;
}
main {
  width: 100%;
  background-color: orange;
}
main::after{
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float:left;
  margin: 0 10px;

}
.col-left {
  width: 20%;
  background-color: blue;
  margin-top: 10px;
  padding: 0 5px;
}
.col-center {
  width: 40%;
  background-color: green;
  margin-top: 10px;
  padding:0 10px;
}
.col-right {
  width: 20%;
  background-color: purple;
  margin-top: 10px;
  padding:0 10px;
}
.mod1, .mod2, .mod3 {
  width: 100%;
  margin-bottom: 25px;
  padding: 25px;
  background-color: white;
  border-radius: 3px;
}
footer {
  width: 100%;
  height: 200px;
  padding: 10px 0 0 0;
  text-align: center;
  border-radius: 3px;
  background-color: lightgrey;
  color: rgb(180, 180, 180);
}
.icons {
  font-size: 30px;
}
.author {
  border-bottom: 1px solid rgb(180, 180, 180);
  padding: 20px;
  margin-bottom: 20px;
}
.icons i {
  display: inline-block;
  margin: 0 100px;
/*
 */
/* .contaner-footer {
  width: 100px;

} */
